<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse" style="display: contents">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated" ><a routerLink ="/recipes">Recipes</a></li>
        <li routerLinkActive="active" ><a routerLink="/shopping-list" >Shopping List</a></li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth" >Authentication</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated" >
          <a class="dropdown-toggle" role="button" (click)="onLogOut()">
            LogOut
          </a>
        </li>
        <li class="dropdown" dropDownDirective *ngIf="isAuthenticated" >
          <a  class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li style="cursor: pointer" (click)="onSaveData()"><a >Save Data</a></li>
            <li style="cursor: pointer" (click)="onFetchData()"><a >Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


