<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="col-xs-12">
        <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Name">name</label>
            <input id="Name" type="text" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ImagePath">image URL</label>
            <input id="ImagePath" type="text" class="form-control" formControlName="imagPath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
          <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="form-group">
            <div class="row" *ngFor="let ingredient of controls; let i = index"  style="margin-top: 10px">
              <div class="col-xs-8" >
                <input type="text" class="form-control" formControlName="nameIngredient">
              </div>
              <div class="col-xs-2">
                <input type="number" class="form-control" formControlName="amountIngredient">
              </div>
              <div class="col-xs-2">
                <button type="button" (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
        </div>

      </div>
    </form>
  </div>
</div>
